body {
	background-color: #ECFFF0;
	font-size: 16px;
  	color: #fff;
  	font-family: 'Quicksand', sans-serif;	
}

/* HEADER */
#header-nav {
	background-color: #CBEFF8;
	padding-top: 10px;
	padding-bottom: 5px;
}

.navbar-brand h1 {
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	font-family: 'Fjalla One', sans-serif;
}

#nav-list {
	color: black;
	font-size: 1.1em;
	width: 100%
	margin: 0;
	padding: 0;
}

#nav-list li {
	padding: 10px;
}

#nav-list hr {
	width: 70%;
	margin: 0 auto;
}
#nav-list a:hover {
  background-color: #E7E7E7;
}
/* END HEADER */


/* MAIN CONTENT */
#main-content h2 {
	color: blue;
	margin-bottom: 30px;
	font-family: 'Lobster', cursive;
	font-size: 2.5em;
}

.row div { 
	border: 1px solid black;
	background-color: #E2F7C9;
	padding: 0 5px;
	position: relative;
	margin-bottom: 20px;

	overflow: auto;
}

section h3 {
	font-family: 'Fjalla One', sans-serif;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 0;
	width: 100%;
	text-align: center;
	padding: 3px 0;
	text-transform: uppercase;
}

#title-chicken h3 {
	background-color: #D11250;

}

#title-sushi h3 {
	background-color: #008F68;
}

#title-beef h3 {
	background-color: #DB5800;
}

section p {
	color: black;
	margin-top: 50px;
	padding-left: 10px;
}

@media (min-width: 992px) {
	.row div { 
		height: 800px;
	}
}

@media (min-width: 769px) and (max-width: 991px) {
	#title-chicken div ,  #title-sushi div{
		height: 810px;
	}
}
/* END MAIN CONTENT*/

#footer-3 {
	position: fixed;
	bottom: 0;
	color: black;
}

